* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 4em;
    height: 100vh;
    margin: 0;
    position: relative;
}

/*Fonts*/

h1 {
    font-weight: normal;
    font-size: 3.75em;
    color: #00257A;
    margin-top: 0;
    margin-bottom: 0.8em;
}

.h1-tweede-regel {
    display: flex;
    margin-bottom: -1em;
}

.kleuren {
    font-size: 3.75em;
    color: #BED600;
    line-height: 1.125em;
    display: inline;
}

.blauw {
    color: #00257A;
    vertical-align: middle;
    /* margin-right: unset; */
}
.zee-groen {
    color: #009B74;
    display: block;
    text-align: left;
}
.gras-groen {
    color: #69BE28;
    display: block;
    text-align: left;
}
.driehoek-blauw {
    width: 1.563em;
    margin-right: 0.5em;
}

.h1-driehoek-blauw {
    width: 1.563em;
    margin-right: 0.5em;
}

hr {
    width: 4em;
    border: 1px solid black;
    border-radius: 1px;
    margin: 0;
    margin-top: 2.500em;
    margin-bottom: 2.500em;
}

h2 {
    font-weight: 500;
    font-size: 1.875em;
    margin: 0.5em 0 0.5em 0;
}

p {
    font-size: 1.25em;
    line-height: 1.65em;
}

.blok-casus p:first-of-type {
    font-size: 0.813em;
}

.info p {
    width: 25vw;
}

/*Buttons*/

.button-1 {
    width: 100%;
    height: 2.5em;
    background-color: white;
    font-weight: bold;
    font-size: 1.125em;
    color: black;
    padding: 0.5em;
    padding-left: 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    text-decoration: none;
    color: black;
}
.button-1 img {
    width: 0.875em;
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    order: -1;
}

.button-2 {
    width: 15em;
    height: 2.5em;
    background-color: white;
    border: 1px solid #00257A;
    font-weight: bold;
    font-size: 1.125em;
    color: black;
    padding: 0.5em;
    padding-left: 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    text-decoration: none;
    color: black;
}
.button-2 img {
    width: 0.875em;
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    order: -1;
}

.button-3 {
    width: 100%;
    height: 8em;
    background-color: white;
    border: 1px solid #00257A;
    font-weight: bold;
    font-size: 1.125em;
    color: black;
    padding: 1em;
    padding-left: 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}
.button-3 img {
    width: 2em;
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    order: -1;
}

.button-4 {
    width: 15em;
    height: 2.5em;
    background-color: white;
    font-weight: bold;
    font-size: 1.125em;
    color: black;
    padding: 0.5em;
    padding-left: 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    text-decoration: none;
    color: black;
}

.button-4 img {
    width: 0.875em;
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    order: -1;
}

.bottom-right {
    bottom: 4em; 
    right: 4em; 
    position: absolute;
}

.terug {
    position: absolute;
    text-decoration: none;
    color: #919191;
    font-size: normal;
    margin: 0;
    bottom: 4em;
}


.terug-wit {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: normal;
    margin: 0;
    bottom: 4em;
    left: 4em;
}

.stop {
    position: absolute;
    text-decoration: none;
    color: #919191;
    font-size: normal;
    margin: 0;
    bottom: 8em;
}

.stop-wit {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: normal;
    margin: 0;
    bottom: 8em;
    left: 4em;
}

/*index.html*/
.beginscherm img {
    width: 12.813em;
    position: absolute;
    right: 4em;
    top: 4em;
}
.beginscherm a {
    width: auto;
    font-size: 3em;
    color: #00257A;
    text-decoration: none;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*Beginscherm*/
.lijnen-kleuren {
    position: absolute;
    right: 0;
    bottom: 4em;
}

.lijnen-kleuren > .blauw {
    width: 40vw;
    border: 3px solid #00257A;
    border-radius: 3em 0 0 3em;
}

.lijnen-kleuren > .zee-groen {
    width: 40vw;
    border: 3px solid #009B74;
    border-radius: 3em 0 0 3em;
}

.lijnen-kleuren > .gras-groen {
    width: 40vw;
    border: 3px solid #69BE28;
    border-radius: 3em 0 0 3em;
}

.lijnen-kleuren > .lime-groen {
    width: 40vw;
    border: 3px solid #BED600;
    border-radius: 3em 0 0 3em;
    margin-bottom: 0;
}

/*Casussen-page*/

.casussen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4em;
}

.blok-casus {
    flex: 0 32%;
    height: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 2em;
    color: white;
    margin-bottom: 2%;
    background-color: #00257A;
    display: block;
}

.blok-casus:nth-of-type(2) {
    background-color: #0066a1;
}

.blok-casus:nth-of-type(3) {
    margin-right: 0;
    background-color: #008b95;
}

.blok-casus:nth-of-type(4) {
    background-color: #69BE28;
}

.blok-casus:nth-of-type(5) {
    background-color: #00257A; 
}

.blok-casus:nth-of-type(6) {
    margin-right: 0;
    background-color: #0066a1;
}

.blok-casus > img {
    display: block;
    width: calc(100% + 2.5em + 2.5em);
    height: 13.125em;
    margin-left: -2.5em;
    margin-top: 0.813em;
    margin-bottom: 1.250em;
    background-color: #E0DED8;
}

.blok-casus > hr {
    width: 0.813em;
    margin: 0;
    border: 2px solid white;
}

.blok-casus > p:nth-of-type(2) {
    width: 11em;
    line-height: 1.3em;
    margin-bottom: 1.5em;
}


/*Bevestigen casus*/
.casus-bevestigen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.casus-bevestigen > .blok-casus {
    margin-bottom: 0;
    background-color: #0066a1;
    flex: 0 32%;
}

.vraag {
    margin-left: 6%;
    flex: 0 62%;
}
.vraag hr {
    width: 4em;
    border: 1px solid black;
    border-radius: 1px;
    margin: 0;
    margin-top: 2.500em;
    margin-bottom: 2.500em;
}

/*info-pagina*/
.info-pagina {
    background-color: #0066A1;
    color: white;
    padding: 4em;
    margin-left: -4em;
    margin-top: -4em;
    width: 100vw;
}

.info-pagina h1 {
    color: white;
}

.casus-uitleg {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.casus-uitleg p {
    line-height: 1.65em;
}

.casus-uitleg p:first-of-type {
    order: 0;
    flex-grow: 2;
    flex: 0 48%;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

.casus-uitleg p:nth-of-type(2) {
    margin-left: 2%;
    order: 0;
    flex-grow: 0;
    flex: 0 48%;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

.casus-uitleg p:nth-of-type(3) {
    height: 100%;
    margin-left: 2%;
    margin-bottom: 0;
    order: 2;
    flex-grow: 0;
    flex: 0 48%;
    margin-top: 0.5em;
}

#nel-gerard-blij {
    width: 25em;
    height: 23em;
    margin-left: 9.4%;
    order: 1;
    margin-bottom: calc(-4em - 2.8em);
    margin-top: 3.1em; 
}

.casus-uitleg .button-1 {
    order: 3;
    width: 15em;
    margin-left: auto;
}

/*'slapend' scherm*/
.slapend-scherm {
    display: flex;
    justify-content: space-between;
}

.hints-kader {
    height: 100vh;
    width: 35%;
    color: white;
    padding: 4em;
    background-color: #00257A;
    position: absolute;
    top: 0;
    right: 0; 
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.hints-kader h2 {
    width: 100%;
}

.hint-scherm img {
    width: 25em;
    position: absolute;
    top: 10em;
    right: 16em;
}

#mainDiv {
    display: inline-block;
    width:33vw;
    height:100vh;
    vertical-align: middle;
    position: absolute;
    left: 0; 
    top: 0;
    padding: 4em;


    
}
#backgroundBlock {
    /* text-align: left; */
    display: flex;
    /* word-wrap: break-word; */
    height: 100vh;
    /* width: 60%; */
    padding: 4em;
    position: absolute;
    top: 0;
    left: 33%;
    right: 0; 
    flex-flow: wrap;
    align-content: space-between;
}

.opdracht {
    /* text-align: left; */
    display: flex;
    /* word-wrap: break-word; */
    /* height: 100vh;
    width: 60%; */
    padding: 4em;
    position: absolute;
    top: 0;
    right: 0; 
    flex-flow: wrap;
    align-content: space-between;
    top: 40%;
    transform: translateY(-42%);
}

.groene-achtergrond{
    background-color: #69BE28 !important;
    color: white;
}

.grasgroene-achtergrond{
    background-color: #BED600 !important;
    color: white !important;
}

.blauwe-achtergrond{
    background-color: #00257A !important;
    color: white !important;
}

.donkergroene-achtergrond{
    background-color: #009B74 !important; 
    color: white !important;
}

input[type="text"] {
    width: 18em;
    /* display: block; */
    border-radius: 5px;
    font-size: 1em;
    font-weight: 200;
    color: #919191;
    padding: 0.6em 0em 0.6em 0.6em;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 3.750em;
  }

  input[type="text"]:focus {
    outline: none;
    border: 1px solid #00257A;
}

input[type="text"]:last-of-type {
    margin-bottom: 2em;
  }


.speech-bubble {
    position: relative;
	background: #ffffff;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.antwoordBubbel1{
    width: 283px; 
    height: 290px; 
    border-radius: 10px; 
    padding: 32px;
    color: white;
    position: relative;
    font-size: 20px;
    font-family: Arial;
    background-color: #00257A;
    text-decoration: none
}

.antwoordBubbel1:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00257A;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
    margin-bottom: -20px;
    
  }

  .antwoordBubbel2{
    width: 283px; 
    height: 290px; 
    border-radius: 10px; 
    padding: 32px;
    color: white;
    position: relative;
    font-size: 20px;
    font-family: Arial;
    background-color: #0066a1;
    text-decoration: none
}

.antwoordBubbel2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #0066a1;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
  }

  .antwoordBubbel3{
    width: 283px; 
    height: 290px; 
    border-radius: 10px; 
    padding: 32px;
    color: white;
    position: relative;
    font-size: 20px;
    font-family: Arial;
    background-color: #008b95;
    text-decoration: none
}

.antwoordBubbel3:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #008b95;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
  }

  .antwoordBubbel4{
    width: 283px; 
    height: 290px; 
    border-radius: 10px; 
    padding: 32px;
    color: white;
    position: relative;
    font-size: 20px;
    font-family: Arial;
    background-color: #69BE28;
    text-decoration: none
}

.antwoordBubbel4:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #69BE28;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
  }

  
.antwoordBubbel5{
    width: 283px; 
    height: 290px; 
    border-radius: 10px; 
    padding: 32px;
    position: relative;
    font-size: 20px;
    font-family: Arial;
    background-color: white;
    color: black;
    margin-left: 15em;
    top: 4em;
}


.antwoordBubbel5:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
    margin-bottom: -20px;
}

.antwoordBubbel6 {
    width: 283px; 
    height: 290px; 
    border-radius: 10px; 
    padding: 32px;
    position: relative;
    font-size: 20px;
    font-family: Arial;
    background-color: white;
    color: black;
    top: 4em;
}


.antwoordBubbel6:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 2em;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	/* margin-right: -2em; */
    margin-bottom: -1em;
}

.antwoordBubbel7 {
    width: 22em; 
    height: 20em; 
    border-radius: 0.625em; 
    padding: 2em;
    position: relative;
    /* font-size: 20px; */
    /* font-family: Arial; */
    background-color: #00257A;
    color: white;
    /* top: 4em; */
    margin: 0;
}


.antwoordBubbel7:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 2em;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00257A;
	border-bottom: 0;
	border-left: 0;
	/* margin-right: -2em; */
    margin-bottom: -1em;
}

.antwoordBubbel7 p {
    margin-top: 0;
}

.antwoord-uitleg {
    margin: 0;
    margin-left: 2em;
}


.toelichting{
    width: 280px; 
    height: 400px; 
    border-radius: 10px; 
    /* padding: 10px; */
    background-color: white;
    position: relative;
}

.toelichting dl {
    font-size: 1.25em;
    line-height: 1.65em;
    margin-top: 0;
}

.toelichting dt {
    font-weight: bold;
    /* margin-top: 0.2em; */
}

.toelichting p {
    margin-top: 0;
}


.symtoom{
    width: 280px; 
    height: 100px; 
    border-radius: 10px; 
    padding: 10px;
    background-color: white;
    position: relative;

}


/* .witte-header{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: block;
} */

.witte-subheader{
    /* color: white; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1.250em;
    font-weight: 400;
    /* margin-bottom: 1em; */
}

.antwoord-bovendruk {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

/* .antwoord-bovendruk1{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
} */

#txtBovendruk {
    margin-bottom: 1.5em;
}

#txtBovendruk1 {
    margin-bottom: 2em;
}

.antwoord-bovendruk > label {
    width: 100%;
}

.antwoord-bovendruk1 {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

.antwoord-bovendruk1 > label {
    width: 100%;
}


.antwoord-onderdruk {
    display: flex;
    flex-wrap: wrap;
}

.antwoord-onderdruk > label {
    width: 100%;
}

    
.vraag{
    display: inline-block;
}



  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1.5em;
    /* padding: 10px; */
  }

  .grid-item {
    /* margin: 1em; */
    margin-top: 0;
    width: 90%;
  }

.grid-item2 {
    margin: 0;
}

  .grid-item:nth-of-type(3) {
      margin-top: 2em;
  }

  .grid-item:nth-of-type(4) {
    margin-top: 2em;
}

.driehoek-wit-conversatie {
    width: 1em;
    position: absolute;
    bottom: 2em;
    right: 2em;
}

  /* .bloeddruk-vraag {
    margin: 10px;
    
  } */
  
  .bloeddruk-vraag input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .bloeddruk-vraag label {
      /* display: inline-block; */
      width: 100%;
      display: flex;
      align-items: center;
      vertical-align: middle;
      background-color: white;
      color: black;
      /* padding: 10px 20px; */
      padding: 0.5em;
      padding-left: 0;
      /* margin: 10px; */
      margin-top: 0.625em;
      margin-bottom: 1em;
      /* width: 252px; */
      /* font-family: Arial; */
      font-size: 1.250em;
      /* border: 1px solid #707070; */
      border-radius: 10px;
      border: 1px solid #00257A;
  }

  .bloeddruk-vraag label:first-of-type {
      margin-top: 1.5em;
  }

  .bloeddruk-vraag label:last-of-type {
      margin-bottom: 0;
  }
  

  .bloeddruk-vraag label > img {
      width: 0.875em;
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    order: -1;
  }
  
  .bloeddruk-vraag label:hover {
    background-color: #A7C1FF;
  }
  
  
  .bloeddruk-vraag input[type="radio"]:checked + label {
      background-color: #00257A;
      color: white;
  }
  

  #portret-klein{
      width: 222px;
      margin-left: 150px; 
      position: absolute; 
      bottom: 0; 
      left: 0;
  }

  #portret-groot{
    height: 80vh;
    margin-left: 15vw; 
    bottom: 0; 
    left: 0;
    position: absolute;
}

  

.full-background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #009B74;
}

.bloeddruk-antwoord{
    width: 252px;
    height: 38px;
    font-size: 20px;
    font-family: Arial;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding-left: 1em;
    margin: 10px;
    line-height: 40px;
}

.aligner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}