* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4em;
    height: auto;
}

/*Fonts*/

h1 {
    font-weight: normal;
    font-size: 3.75em;
    color: #00257A;
    margin-top: 0;
    margin-bottom: 0.8em;
}

h2 {
    font-weight: 500;
    font-size: 1.875em;
    margin: 0.5em 0 0.5em 0;
}

.h2-kleuren {
    font-size: 3.75em;
    color: #BED600;
    line-height: 1.125em;
    display: inline;
}
.h2-blauw {
    color: #00257A;
    display: inline;
    vertical-align: middle;
}
.h2-zee-groen {
    color: #009B74;
}
.h2-gras-groen {
    color: #69BE28;
    display: flex;
}
.h2-driehoek-blauw {
    width: 1.563em;
    margin-right: 0.5em;
}

p {
    font-size: 1.25em;
}

.blok-casus p:first-of-type {
    font-size: 0.813em;
}

/*Buttons*/

.button-1 {
    width: 100%;
    background-color: white;
    font-weight: bold;
    font-size: 1.125em;
    color: black;
    padding: 0.5em;
    padding-left: 0;
    border-radius: 0.5em;
    display: block;
    align-items: center;
}
.button-1 img {
    width: 0.875em;
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
}
.button-1 a {
    vertical-align: middle;
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: bold;
}

.button-2 {
    width: 15em;
    background-color: white;
    border: 1px solid #00257A;
    font-weight: bold;
    font-size: 1.125em;
    color: black;
    padding: 0.5em;
    padding-left: 0;
    border-radius: 0.5em;
    display: block;
    align-items: center;
}
.button-2 img {
    width: 0.875em;
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
}
.button-2 a {
    vertical-align: middle;
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: bold;
}

.terug {
    position: absolute;
    text-decoration: none;
    color: #919191;
    font-size: normal;
    margin: 0;
    bottom: 4em;
}


/*Casussen-page*/

.casussen {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.blok-casus {
    width: 30%;
    height: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 2em;
    color: white;
    margin-right: 2em;
    margin-bottom: 2em;
    background-color: #00257A;
    display: block;
}

.blok-casus:nth-of-type(2) {
    background-color: #0066a1;
}

.blok-casus:nth-of-type(3) {
    margin-right: 0;
    background-color: #008b95;
}

.blok-casus:nth-of-type(4) {
    background-color: #69BE28;
}

.blok-casus:nth-of-type(5) {
    background-color: #00257A; 
}

.blok-casus:nth-of-type(6) {
    margin-right: 0;
    background-color: #0066a1;
}

.blok-casus > img {
    display: block;
    width: calc(100% + 2.5em + 2.5em);
    height: 13.125em;
    margin-left: -2.5em;
    margin-top: 0.813em;
    margin-bottom: 1.250em;
    background-color: #E0DED8;
}

.blok-casus > hr {
    width: 0.813em;
    margin: 0;
}

.blok-casus > p:nth-of-type(2) {
    width: 11em;
    line-height: 1.3em;
    margin-bottom: 1.5em;
}


/*Bevestigen casus*/
.casus-bevestigen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.casus-bevestigen .blok-casus {
    margin-bottom: 0;
    background-color: #0066a1;
}

.vraag {
    width: 60%;
}
.vraag hr {
    width: 4em;
    border: 1px solid black;
    border-radius: 1px;
    margin: 0;
    margin-top: 2.500em;
    margin-bottom: 2.500em;
}

/*info-pagina*/
.info-pagina {
    background-color: #0066A1;
    color: white;
    width: calc(100% + 10em);
    height: calc(100% + 10em);
    padding: 4em;
    margin-left: -5em;
    margin-top: -5em;
}

.info-pagina h1 {
    color: white;
}

.casus-uitleg {
    display: flex;
    flex-wrap: wrap;
}

.casus-uitleg p {
    width: 50%;
    line-height: 1.750em;
}

.casus-uitleg p:first-of-type {
    padding-right: 1.5em;
    order: -1;
}

.casus-uitleg p:nth-of-type(2) {
    padding-left: 1.5em;
    order: 0;
}

.casus-uitleg p:nth-of-type(3) {
    padding-left: 1.5em;
    margin-bottom: 0;
    order: 1;
}

#nel-gerard-blij {
    width: 27.813em;
    margin-left: 5.938em;
    order: 0;
    margin-right: 2.5em;
}

.casus-uitleg .button-1 {
    order: 1;
    
}

#mainDiv {
    display: inline-block;
    min-width:33vw;
    height:100vh;
    vertical-align: middle;
    background-color: white;
}
#backgroundBlock {
    vertical-align: middle;
    display: inline-block;
    word-wrap: break-word;
}

input[type="text"] {
    height: 50px;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.antwoordBubbel1{
    width: 280px; 
    height: 200px; 
    border-radius: 10px; 
    padding: 10px;
    color: white;
    background-color: #00257A;
    position: relative;

}

.antwoordBubbel1:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00257A;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
  }

  .antwoordBubbel2{
    width: 280px; 
    height: 200px; 
    border-radius: 10px; 
    padding: 10px;
    color: white;
    background-color: #0066a1;
    position: relative;

}

.antwoordBubbel2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #0066a1;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
  }

  .antwoordBubbel3{
    width: 280px; 
    height: 200px; 
    border-radius: 10px; 
    padding: 10px;
    color: white;
    background-color: #008b95;
    position: relative;

}

.antwoordBubbel3:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #008b95;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
  }

  .antwoordBubbel4{
    width: 280px; 
    height: 200px; 
    border-radius: 10px; 
    padding: 10px;
    color: white;
    background-color: #69BE28;
    position: relative;

}

.antwoordBubbel4:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #69BE28;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
  }

  
  .antwoordBubbel5{
    width: 280px; 
    height: 200px; 
    border-radius: 10px; 
    padding: 10px;
    background-color: white;
    position: relative;

}

.toelichting{
    width: 280px; 
    height: 400px; 
    border-radius: 10px; 
    padding: 10px;
    background-color: white;
    position: relative;

}


.symtoom{
    width: 280px; 
    height: 100px; 
    border-radius: 10px; 
    padding: 10px;
    background-color: white;
    position: relative;

}




  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .grid-item {
    margin: 15px;
  }